body{
    background:#f1f5f9;
    font-family:Segoe UI, sans-serif;
    padding:20px;
}

/* TITLE */
.title{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
    color:#1e293b;
}

/* GRID */
.card-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
    gap:15px;
}

/* CARD */
.card{
    background:rgba(6, 155, 229, 0.373);
    padding:20px;
    border-radius:15px;
    text-align:center;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.card:hover{
    transform:translateY(-5px);
    background:#0ea5e9;
    color:white;
}

/* ICON */
.card i{
    font-size:28px;
    margin-bottom:10px;
}

/* TEXT */
.card span{
    display:block;
    font-size:14px;
    font-weight:600;
}

.card small{
    font-size:11px;
    opacity:0.8;
}