* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND */
body {
    height: 100vh;
    background: url('https://i.postimg.cc/HxtqzNBC/image.png') no-repeat center center;
    background-size: cover;
    color: #fff;
}

/* CONTAINER */
.container {
    display: flex;
    height: 100%;
}

/* KIRI */
.left {
    width: 50%;
}

/* KANAN */
.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}

/* LOGIN BOX */
.login-box {
    width: 360px;
    padding: 100px 75px;
    border-radius: 50px;
    background: rgba(34, 35, 35, 0.361);
    backdrop-filter: blur(20px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    gap: 20px;

    animation: fadeSlide 0.8s ease forwards;
}

/* ANIMASI */
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* JUDUL */
.login-box h2 {
    color: #00e0ff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
}

/* INPUT */
.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(22, 1, 1, 0.939);
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
}

/* efek fokus */
.input-group input:focus {
    border-bottom: 2px solid #00e0ff;
    box-shadow: 0 5px 10px rgba(0,224,255,0.3);
}

/* LABEL */
.input-group label {
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: 18px;
    color: #fbf1f1;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #00e0ff, #0072ff);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 224, 255, 0.5);
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #101010;
    background: rgba(222, 232, 229, 0.701);
    backdrop-filter: blur(5px);
}