body{
    background:#2b9bf0e1;
    padding:20px;
    font-family:Arial;
}

.settings-container{
    max-width:1100px;
    margin:auto;
}

h2{
    margin-bottom:20px;
}

/* GRID 3 KOLOM */
.settings-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:15px;
}

/* RESPONSIVE */
@media(max-width:900px){
    .settings-grid{
        grid-template-columns:repeat(2, 1fr);
    }
}

@media(max-width:600px){
    .settings-grid{
        grid-template-columns:1fr;
    }
}

.setting-item{
    background:#a7d09f;
    border-radius:14px;
    padding:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    transition:0.25s ease;
    position:relative;
}

.setting-item label{
    display:block;
    font-weight:600;
    margin-bottom:10px;
}

.setting-row{
    display:flex;
    gap:10px;
}

.setting-row input{
    flex:1;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}

.setting-row button{
    min-width:110px;
    border:none;
    border-radius:8px;
    background:#ea733c;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}

/* HOVER ANIMATION */
.setting-item:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}
/* HEADER ICON */
.setting-header{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
    font-weight:600;
}
/* ICON BOX */
.icon{
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    background:#b8686895;
    font-size:18px;
}